# Month  Hour  Date  Month  Day    Command
# --------------- minute (0 - 59)
# | ------------- hour (0 - 23)
# | | ----------- day of the month (1 - 31)
# | | | --------- month (1 - 12) OR jan,feb,mar,....
# | | | | ------- day of the week (0 - 6) (Sunday=0 or 7) OR sun,mon,tue....
# | | | | |
# * * * * * username  command



# Using @ syntax
@weekly /home/technoflask/.local/scripts/pkg-cache-clear
