* {
  font-family: "Fira Sans"
 }

#waybar {
  background-color: transparent;
  color: white;
}

#workspaces {
  border: 3px solid #fff;
  border-radius: 20px;
  /* padding-right: 5px; */
  background-color: #873e23;
  margin-left: 10px;
}

#workspaces button {
  border-radius: 50%;
  transition: text-shadow 0.2s linear;
  font-style: normal;
  font-size: 20px;
  color: white;
}

#workspaces button:hover{
  background: inherit;
  border: none;
  text-shadow: 0 0 3px #fff;
}

#workspaces button.active {
  text-shadow: 0 0 3px #fff;
}

#window {
  padding-right: 15px;
  padding-left: 15px;
  border: 3px solid #fff;
  border-radius: 20px;
  background-color: #873e23;
  font-style: normal;
  font-size: 20px;
  text-shadow: 0 0 5px #fff;
}

window#waybar.empty #window {
    background-color: transparent;
    border: none;
}

#clock, #battery, #network, #disk, #cpu, #temperature ,#memory, #pulseaudio {
  background-color: #873e23;
  border: 3px solid #fff;
  border-radius: 20px;
  padding-right: 10px;
  padding-left: 10px;
  font-style: normal;
  font-size: 18px;
  text-shadow: 0 0 5px #fff;

  transition: background-color 0.2s linear;
}

#battery.charging {
  background-color: #045c1e;
}

#battery.discharging {
  background-color: #873e23;
}

#network.disconnected {
  background-color: #f00;
}

#pulseaudio {
  margin-right: 10px;
}
